"*":
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "symbols-view"
      "atom-alignment"
      "metrics"
      "auto-indent"
    ]
    projectHome: "~/src"
    followSymlinks: true
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  goto:
    logToConsole: true
  editor:
    showIndentGuide: true
    invisibles: {}
    backUpBeforeSaving: true
  "seeing-is-believing":
    "ruby-command": "ruby"
    "add-to-env": {}
  "fuzzy-finder":
    ignoredNames: [
      "**/vendor/bundle/**/*"
    ]
  "ruby-test": {}
  "autocomplete-plus": {}
  "merge-conflicts": {}
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    rubocop:
      path: "rubocop"
      ignoredNames: [
        "vendor/**"
        "db/schema.rb"
      ]
    jshint:
      path: "/usr/local/bin/jshint"
    jscs:
      path: "/usr/local/bin/jscs"
    "linter-js-yaml":
      jsYamlExecutablePath: null
    coffeelint:
      path: "/usr/local/bin/coffeelint"
    csslint:
      path: "/usr/local/bin/csslint"
      rules:
        ignore: [
          "adjoining-classes"
        ]
    "scss-lint":
      path: "/usr/local/lib/node_modules/scsslint/lib/scsslint.js"
  "markdown-preview": {}
  localization:
    CurrentLanguage: "Default"
  minimap:
    plugins:
      "git-diff": false
      "find-and-replace": true
    displayCodeHighlights: false
  "exception-reporting":
    userId: "a4a55f6f-1ff7-b833-f93c-47179635b0e7"
  "project-quick-open":
    projectPaths: "~/src"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmd: "/usr/local/bin/ctags"
    buildTimeout: 30000
    cmdArgs: '''
      -R --tag-relative --languages=ruby,javascript,sql --exclude=.git --exclude=node_modules --exclude=log . $(bundle list --paths)
      
    '''
  cmdArgs: "-R --languages=ruby --exclude=.git --exclude=log . $(bundle list --paths)"
  linter: {}
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "autocomplete-ruby": {}
  "linter-reek": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "rails-transporter": {}
  blame: {}
