"*":
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "symbols-view"
      "atom-alignment"
      "metrics"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    projectHome: "~/src"
  goto:
    logToConsole: true
  editor:
    showIndentGuide: true
    invisibles: {}
  "seeing-is-believing":
    "ruby-command": "ruby"
    "add-to-env": {}
  "fuzzy-finder":
    ignoredNames: [
      "**/vendor/bundle/**/*"
    ]
  "ruby-test": {}
  "autocomplete-plus": {}
  "merge-conflicts": {}
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    rubocop:
      path: "rubocop"
      ignoredNames: [
        "vendor/**"
        "db/schema.rb"
      ]
    jshint:
      path: "jshint"
    coffeelint:
      path: "coffeelint"
    csslint:
      path: "csslint"
      rules:
        ignore: [
          "adjoining-classes"
        ]
    "scss-lint":
      path: "scss-lint"
  "markdown-preview": {}
  localization:
    CurrentLanguage: "Default"
  minimap:
    plugins:
      "git-diff": false
      "find-and-replace": true
  "exception-reporting":
    userId: "a4a55f6f-1ff7-b833-f93c-47179635b0e7"
